In [16]:
import pandas as pd

data = pd.read_excel('D:\Ravi Lakshay\Prepp 2022\Carnot_Agri\sample_data_forPy.xlsx','filtered')

In [20]:
df = data.iloc[:,2:]
df.head()

,1,2,3,4,5,6,7,8,9,10,...,51,52,53,54,55,56,57,58,59,602
0,Wheat,Garlic,Onion,Potato,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Paddy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Groundnut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mustard,Wheat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.rename(columns = {'602':'60'}, inplace=True)
df.head()

,1,2,3,4,5,6,7,8,9,10,...,51,52,53,54,55,56,57,58,59,60
0,Wheat,Garlic,Onion,Potato,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Paddy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Groundnut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mustard,Wheat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df['1'].unique()

array(['Wheat', 'Paddy', 'Groundnut', nan, 'Mustard', 'Chilli', 'Cabbage',
       'Onion', 'Maize', 'Black gram', 'Green Pea', 'Sugarcane', 'Not-a',
       'Fenugreek', 'Capsicum', 'Tomato', 'Papaya', 'mass', 'Potato',
       'Carnation', 'Sugarcane Ratoon', 'Grapes', 'Bitter gourd',
       'Cotton', 'Brinjal', 'Pomegranate', 'Tuberose', 'Ryado',
       'Bengal GRAM', 'Garlic', 'Domestic flower', 'Red Gram', 'potato',
       'Watermelon', 'Soybean', 'Cucumber', 'Green Gram',
       'Vall Papadi / Ghevada', 'Common Cress', 'Bottle gourd', 'Guava',
       'Cow pea', 'Mango', 'Pea', 'Lemon', 'Cauliflower', 'Redmissue',
       'Bagan', 'Sorghum', 'MAKKA', 'Carrot', 'Green Sorrel curry',
       'Palm oil', 'kaddu', 'Oat', 'Pearl millet', 'bhinda', 'khandgav',
       'Okra', 'corn', 'Custard apple', 'Sweet Lime', 'Ginger', 'Cumin',
       'lehsun', 'Pointed Gourd', 'Orange', 'Ma', 'Jasmine',
       'Sabji Wali Matar Ki Fasal', 'lahsun', 'Raddish', 'Rule', 'Rose',
       'garlic', 'lesson', 'Amaranth Seeds (Rajgira)', 'Wiru', 'Staberry',
       'Finger millet', 'Shahid', 'SAPOTA', 'Aalu', 'As', 'tuver',
       'Ridge gourd', 'Lasan', 'Gahu', 'Seed onion', 'Luki.',
       'Chrysanthemum', 'June', 'pyaj', 'super nepiyer', 'Castor',
       'wheat', 'cumin', 'rayda', 'mushroom', 'Jira', 'Ghehu.', 'Barley',
       'ghehun', 'other', 'Gehun', 'Cluster Bean', 'Eranda', 'Coconut',
       'safflower', 'Eg.', 'Marigold', 'Gram', 'hri matar', 'Masur',
       'Beans', 'gehu', 'Siron', 'well-known', 'Mdsakhli.', 'lhousn',
       'Munaga Kayalu', 'Small Gourd', 'manth', 'Sweet Potato', 'sarso',
       'tomato', 'Pigweed', 'Tobacco', 'watermelon', 'Direction',
       'Drumstic', 'Niger', 'Gira', 'concept.', 'lahasun', 'Sarson',
       'laha', 'mashur', 'Pimpri', 'Lahsan', 'Stolen', 'Mug', 'Lassn.',
       'Lashne', 'Loss', 'rashi', 'Divela', 'Chana', 'Success', 'masroom',
       'Mirchi', 'Dan', 'Nut', 'Basil', 'Saraso', 'Aniyan', 'MIMBER',
       'bhindi', 'Ashwagandha', 'kadhu', 'Merapa', 'ùëöùëéùë†ùëúùëü',
       'Mustard and wheat', 'tambaku', 'Tarbuj', 'Isabol', 'Location',
       'crystal', 'Chickpea', 'gehun chana', 'Bathua (Cheel Bhaji)',
       'Green chilli', 'Gold', 'peas', 'coriander', 'chanaa',
       'Compression', 'Eyelid', 'Boria', 'Gladiolus',
       'Mustard cultivation', 'Calu', 'Isabgol', 'March',
       'Balcooa Bamboo', 'Rope of onion', 'mustard', 'Scarcity',
       'bhajan kumar', 'white sunflower',
       'Black grapes are getting worse', 'Kalenji', 'Kalosi', 'Pineapple',
       'Gehum', 'minumus', 'rabi', 'Green Morning crop', 'Talent',
       'reshmi', 'You. You.', 'musroom', 'MAKKAE', 'Spark', 'Rice',
       'kalonji', 'Shevga', 'Gerbera', 'mentha', 'Mubp', 'Peanut',
       'Tobaco', 'Bakala', 'Cocoa', 'The sum', 'kathal', 'Impetuous',
       'Green pea', 'Masroom', 'Mehnta', 'Piyaz', 'DONGLA', 'Ridgeka',
       'Applebury', 'Tobbaco', 'lahsun ki kheti', 'aluminum', 'GHAU',
       'palahk', 'Avocado', 'krishnabhai2731@gmail.com', 'Sarasro', 'day',
       'jolly', 'Mathy', 'Awala', 'coriander leaves', 'BARSHIM.',
       'button mushroom', 'adark', 'charri', 'ghuya', 'tmatar', 'mirc',
       '1958', 'Crop paddy crop', 'Strawberry', 'Mamja', 'Clarity',
       'Jiru', 'masturd', 'Suryakanti', 'Sunflower cutter flat',
       'Pan mathi', 'aloe vera', 'Crayon', 'Ishbgan', 'Erd', 'jeenium',
       'Tamaku.', 'Vertebrate', 'Arandi', 'Coriander', 'progress',
       'povaku', 'bhan', 'drumstick', 'Md azhar', 'knock', 'Sardstone',
       'geho', 'genhu', 'Devee', 'Arecanut', 'Chai Patti.', 'Azau',
       'Janny', 'kill', 'Family', 'Japa', 'Ush.', 'Lahta 41s46', 'Raida',
       'plus', 'Sunflower', 'Grape', 'seed', 'Made', 'aloo',
       'sweetenia mahogany', 'China', 'Nubbo', 'chilli', 'eranda',
       'Gaahun', 'semi', 'Radia', 'Isbugul', 'Harbada', 'Daddy', 'Ripid',
       'yard long bean', 'Geheu', 'gaihu', 'Mushroom',
       'Which crop brother benefit us in it', 'Sugarcane. Tur', 'lashan',
       'Peeper mate', 'Birnery', 'Tamota', 'Opium', 'khira', 'Laran',
       'Wheat crop', 'ganna', 'Gaulavadi', 'Swimming', 'Isbol',
       'Spine Gourd', 'Morning', 'sarity', 'sunflower', 'Office', 'who',
       'michi', 'Isab cumin', 'Aster', 'Tummer', 'rajma', 'ashwangda',
       'Galoon', 'Tell the name of wheat crop card', 'lasun', 'mumble',
       'Wheat initiative', 'Fig', 'Barsin', '·¥ò·¥Ä…¥ ·¥ç·¥á·¥õ ú…™', 'Pamal',
       'Kundru', 'Village', 'sandwich', 'Ghana', 'Green male', 'tamatar',
       'shinghee', 'ashvgandha', 'Kaly no', 'Loll', 'Securities',
       'Siyaram', 'Gray', 'minimum', 'Oilson', 'sugarcane', 'Kabbu',
       'Davae of L in Gia', 'Gaehu', 'whirusanaga', 'Sardinian', 'vadiya',
       'Cilantro', 'D a p ram jankari', 'Brushes', 'are square', 'masoor',
       'dawn', 'kanakaburam', 'Kagda', 'massor', 'Sonal Papadi', 'Lentil',
       'sauce', 'Parasalsih', 'masr'], dtype=object)

In [73]:
import enchant

In [74]:
d = enchant.Dict("en_US")

In [75]:
d.check("little")

True

In [61]:
#li = [];

df.iloc[0][:].apply(lambda x: d.check(x) if x != NaN)

SyntaxError: invalid syntax (<ipython-input-61-1bda6a99003e>, line 3)

In [72]:
for index, row in df.iterrows():
    #print(index)
    
    if d.check(str(row)) == True:
        print(row)
    break

In [77]:
for i in range(df[0:])

10000

In [184]:
from tqdm.notebook import trange

In [188]:
Li = [];
Tup =[]
for j in trange(0,10000):
    for i in range(0,len(df.iloc[0])):
        if d.check(str(df.iloc[j][i])) == False:
            if str(df.iloc[j][i]) != 'nan':
                Li.append(df.iloc[j][i])
                Tup.append([j,i])

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

In [190]:
len(Li)

7037

In [191]:
len(Tup)

7037

In [193]:
datan = {'cropnamne' : Li, 'coordinate' : Tup}
dfn = pd.DataFrame(datan)

In [199]:
with open('D:\Ravi Lakshay\Prepp 2022\Carnot_Agri\your_file.txt', 'w', encoding="utf-8") as f:
    for item in Li:
        f.write("%s\n" % item)

In [209]:
d.check('radish')

True